apiVersion: apps/v1
kind: Deployment
metadata:
  name: env-service
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: env-service
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 100m
              memory: 128Mi
