apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: deployment-patch.yaml

images:
  - name: docker.io/andycpx/kargodemo
    newTag: staging-latest
