apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

labels:
  - pairs:
      environment: staging
    includeSelectors: false

patches:
  - path: deployment-patch.yaml
