apiVersion: v1
kind: Service
metadata:
  name: env-service
  labels:
    app.kubernetes.io/name: env-service
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: env-service
