apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - pdb.yaml

patches:
  - path: deployment-patch.yaml

images:
  - name: docker.io/andycpx/kargodemo
    newTag: v1.0.0
